<div class="col">

  <div class="row" *ngIf="actualWeatherData">
    <div class="col-6" >
      {{actualWeatherData.city}}
    </div>
    <div class="col-3  text-right">
      {{actualWeatherData.temp}} °C
    </div>
    <div class="col-3 text-right">
      <img class="centerImage" src="http://openweathermap.org/img/w/{{actualWeatherData.icon}}.png" width="50" height="50">
    </div>
  </div>

  <div class="row" *ngFor="let item of forecastWeatherDataList">
    <div class="col-6">
      {{item.dayName}}
    </div>
    <div class="col-3 text-right">
      {{item.temp}} °C
    </div>
    <div class="col-3 text-right">
      <img class="centerImage" src="http://openweathermap.org/img/w/{{item.icon}}.png" width="50" height="50">
    </div>
  </div>
</div>
